@tailwind base;
@tailwind components;
@tailwind utilities;

@import '~locomotive-scroll/dist/locomotive-scroll.css';


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@keyframes scroll {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(-100%);
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.65); /* Aumentado para ser más exagerado */
  }
  60% {
    transform: scale(1.1); /* Aumentado para ser más exagerado */
  }
}

.bounce {
  animation: bounce 1s infinite;
}

.hover-bounce:hover {
  animation: bounce 1s;
}

@keyframes bouncesmooth {
  0%, 20%, 50%, 80%, 100% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.15); /* Aumentado para ser más exagerado */
  }
  60% {
    transform: scale(1.05); /* Aumentado para ser más exagerado */
  }
}

.bouncesmooth {
  animation: bouncesmooth 1s infinite;
}

.hover-bouncesmooth:hover {
  animation: bouncesmooth 1s;
}

@keyframes moveBanner {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-50%, 0, 0);
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.header__temple-wrapper {
  display: flex;
  width: 100%;
  height: 16.15vw;
  padding-left: 5.12vw;
  padding-right: 5.12vw;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}

.wrapper__logo {
  display: flex;
  width: 31.53vw;
  height: 5.89vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: black;
  transform: translateY(-100%);
  opacity: 0;
  transition: transform 0.7s ease-in-out, opacity 0.7s ease-in-out;
  z-index: 1001;
}

.menuOpen {
  transform: translateY(0);
  opacity: 1;
}

.wrapper__content-nav {
  display: flex;
  height: 2.97vh;
  padding: 0px 6px;
  justify-content: flex-end;
  align-items: center;
  gap: 2.83vh;
}

.main__nav {
  display: flex;
  gap: 2.83vh;
}

.main__nav .nav__item {
  color: #FFF;
  text-align: center;
  font-size: 1.41vh;
  font-style: normal;
  font-weight: 500;
  line-height: 6.4px; /* 64% */
  text-transform: uppercase;
  
}

.rrss__nav {
  display: flex;
  max-height: 21px;
  align-items: center;
  gap: 10px;
}

.rrss__nav .button_nav {
  display: flex;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 17px;
  align-self: stretch;
  border: 1px solid #FFF;
  color: #FFF;
  text-align: center;
  font-size: 1.41vh;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}

.lang__nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  height: 21px;
}

/* Para ocultar la barra de desplazamiento en navegadores basados en Webkit */
.no-scrollbar::-webkit-scrollbar {
  display: none;
  width: 0 !important;
}

/* Para ocultar la barra de desplazamiento en Firefox */
.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none; /* IE and Edge */
}

.animate-scroll {
  animation-name: scroll;
}

.img__spotify {
  max-height: 40px;
  display: inline-block;
}

.hidden {
  display: none;
}

.inline {
  display: inline;
}


.view-section__wrapper__desktop {
  display: none;
}

.home__view {
  width: 100vw;
  height: 100vh;
  overflow: scroll;
}

.min {
  min-width: 218px;
}

.min-height-custom {
  min-height: 180px;
}

/* HOME DESKTOP */
.viewport {
  width: 100vw;
  height: 100vh;
  padding-top: 13.46vh;
  padding-bottom: 7.08vh;
  padding-left: 1.41vh;
  overflow: scroll;
}

.page__wrapper__legales {
  padding-top: 13.46vh;
  padding-bottom: 7.08vh;
}

.row {
  grid-column-gap: 1.98vh;
  grid-row-gap: 1.98vh;
  justify-content: flex-start;
  display: flex;
}

.column {
  grid-column-gap: 1.98vh;
  grid-row-gap: 1.98vh;
  flex-direction: column;
  justify-content: flex-start;
  display: flex;
}

.beer-wrapper {
  z-index: 8;
  height: 64.58vh;
  width: 53.82vh;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  position: absolute;
  bottom: auto;
  left: 0%;
  right: auto;
}

.main-box-1-wrapper {
  grid-column-gap: 1.98vh;
  grid-row-gap: 1.98vh;
  flex-direction: column;
  justify-content: space-between;
  display: flex;
  position: relative;
}

.box-1 {
  z-index: 19;
  width: 157.5vh;
  height: 12.88vh;
  flex-direction: column;
  justify-content: center;
  margin-left: 55.24vh;
  display: flex;
  position: relative;
}

.box-2 {
  height: 46.03vh;
  margin-left: 55.24vh;
  position: relative;
}

.box-3 {
  z-index: 9;
  width: 89.94vh;
  height: 16.99vh;
}

.box-4 {
  z-index: 0;
  grid-column-gap: 0.99vh;
  grid-row-gap: 1.98vh;
  justify-content: space-between;
  display: flex;
  position: relative;
}

.picture-box-1, .picture-box-2, .picture-box-3 {
  width: 39.94vh;
  height: 64.30vh;
  position: relative;
}

.row-alt {
  grid-column-gap: 0.99vh;
  grid-row-gap: 0vh;
  justify-content: flex-start;
  display: flex;
}

.box-5 {
  width: 27.33vh;
  height: 31.30vh;
  text-align: right;
  align-self: flex-end;
  position: relative;
}

.w-inline-block {
  max-width: 100%;
  display: inline-block;
  text-decoration: none;
}

.div-block-5 {
  justify-content: flex-end;
  align-items: center;
  margin-top: 0.86vh;
  display: flex;
}

.box-6 {
  width: 21.10vh;
  height: 31.30vh;
  align-self: flex-end;
  position: relative;
}

.box-7 {
  width: 32.86vh;
  height: 31.30vh;
  align-self: flex-end;
  position: relative;
}

.box-8 {
  width: 32.86vh;
  height: 31.30vh;
  align-self: flex-end;
  position: relative;
}

.box-9 {
  margin-left: 50vh;
  position: relative;
  margin-right: 18.55vh;
}

/* HOME MOBILE */
.mobile-box-1 {
  margin-top: 16.15vw;
  padding-left: 5.12vw;
  padding-right: 5.12vw;
  display: flex;
  flex-direction: column;
  grid-column-gap: 0;
  grid-row-gap: 0.99vw;
}

.title-wrapper {
  flex-direction: column;
  justify-content: center;
  display: flex;
  position: relative;
}

.row-special-gap {
  grid-column-gap: 0.99vh !important;
}

.mobile-box-2 {
  padding-left: 5.12vw;
  padding-right: 5.12vw;
  display: flex;
  flex-direction: column;
  grid-column-gap: 0;
  grid-row-gap: 0.99vw;
}

.birras-wrapper-mobile {
  display: flex;
  align-items: flex-start;
  gap: 1.53vw;
  align-self: stretch;
}

.column-mobile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}

.birras-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.28vw;
}

.line-separador {
  padding-left: 5.12vw;
  padding-right: 5.12vw;
}

.row-especial {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  grid-column-gap: 2.56vw;
  grid-row-gap: 2.56vw;
  width: 188.36vw; /* 100% por cada columna */
}

.column-especial {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.mobile-box-4 {
  padding-left: 5.12vw;
  padding-right: 5.12vw;
  grid-row-gap: 2.56vw;
}

.mobile-box-5 {
  grid-row-gap: 5.12vw;
}

.row-1 {}

.row-2 {}

.banner-wrapper {
  width: 140vh;
  height: 7.64vh;
}

.banner-content {
  display: flex;
  width: 262.88vh;
}

.banner {
  width: 220.25vh;
  height: 13.84vw;
}

.footer-wrapper {
  padding-top: 10.24vw;
  padding-bottom: 10.24vw;
  padding-left: 5.12vw;
  padding-right: 5.12vw;
}

/* PRODUCTS */
.product-viewport {
  width: 100vw;
  height: 100vh;
  padding-top: 9.20vh;
  padding-bottom: 0;
  position: fixed;
}

.product-box-1 {
  width: 123.51vh;
  height: 90.79vh;
  grid-column-gap: 1.72vh;
  grid-row-gap: 1.72vh;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 4.81vh;
  display: flex;
  position: relative;
}

.product-title-box {
  width: 82.43vh;
}

.product-box-2 {
  position: relative;
  width: 52.69vh;
  height: 90.79vh;
}

.product-box-3 {
  position: relative;
  width: 34.98vh;
  height: 90.79vh;
}

.product-box-4 {
  position: relative;
  width: 74.22vh;
  height: 90.79vh;
  margin-left: 4.53vh;
  margin-right: 4.53vh;
}

/* PRODUCTS MOBILE */
.mobile {
  width: 100vw;
  display: block;
  position: relative;
  overflow: hidden;
}

.product-box-1-mobile {
  width: 100%;
  grid-column-gap: 3.84vw;
  grid-row-gap: 3.84vw;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 6.93vw;
  padding-right: 6.93vw;
  display: flex;
}

.product-box-2-mobile {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.product-box-5-mobile {
  width: 100%;
}

.product-box-6-mobile {
  padding-left: 5.12vw;
  padding-right: 5.12vw;
  margin-bottom: 5.12vw;
}


/* md */
@media (min-width: 640px) { }

/* md */
@media (min-width: 768px) { 
  .min-height-custom {
    min-height: 0; /* Anula la altura mínima */
  }
  .header__temple-wrapper {
    display: flex;
    width: 100%;
    height: 6.37vh;
    padding: 0.42vh 0.99vh;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
  }

  .wrapper__logo {
    display: flex;
    width: 18.13vh;
    height: 4.1vh;
    padding: 4px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
  }
}

/* lg */
@media (min-width: 1024px) { 
  .view-section__wrapper__desktop {
    display: block;
  }
  .banner-wrapper {
    width: 140vh;
    height: 7.64vh;
  }
  
  .banner-content {
    display: flex;
    width: 262.88vh;
  }
  
  .banner {
    width: 131.44vh;
    height: 7.64vh;
  }

} 

/* xl */
@media (min-width: 1280px) { }

/* 2xl */
@media (min-width: 1440px) { }

/* 3xl */
@media (min-width: 1680px) { }


.animate-wiggle {
  -webkit-animation: wiggle 1s infinite;
  animation: wiggle 1s infinite;
}

@-webkit-keyframes wiggle {
  0%,
  100% {
    transform: scale(1.2) rotate(7deg);
  }

  50% {
    transform: scale(0.8) rotate(-7deg);
  }
}

@keyframes wiggle {
  0%,
  100% {
    transform: scale(1.2) rotate(7deg);
  }

  50% {
    transform: scale(0.8) rotate(-7deg);
  }
}

.picture-box-1 {
  position: relative;
  overflow: hidden;
}

.picture-box-1 video, .picture-box-1 img {
  transition: opacity 0.5s ease-in-out;
}

.picture-box-1 video {
  position: absolute;
  top: 0;
  left: 0;
}


@keyframes moveLinks {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-52%); /* Mueve los enlaces un tercio del ancho total para que se repita continuamente */
  }
}

.banner-wrapper {
  position: relative;
  width: 140vh;
  height: 7.64vh;
}

.banner-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.banner-link {
  white-space: nowrap; /* Asegúrate de que el texto e icono se mantengan en la misma línea */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px; /* Ajusta el relleno según tus necesidades */
}

@keyframes pulsec {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.10);
  }
  100% {
    transform: scale(1);
  }
}

.animate-pulsec {
  animation: pulsec 2s infinite;
}

.animate-pulsec:hover {
  animation: pulsec 2s infinite;
}

.product-box-4-en {
  position: relative;
  width: 54.22vh;
  height: 90.79vh;
  margin-left: 4.53vh;
  margin-right: 4.53vh;
}

.logo-container {
  position: relative;
}

.logo-normal, .logo-hover {
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.3s ease; /* Ajusta la duración según prefieras */
}

.logo-hover {
  opacity: 0;
}

.wrapper__logo:hover .logo-hover {
  opacity: 1;
}

.wrapper__logo:hover .logo-normal {
  opacity: 0;
}